<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-primary">Dashboard</h1>
  <a href="javascript:void(0)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow"><i class="fas fa-download fa-sm text-white-50"></i> Gerar relatório</a>
</div>

<hr>

<div class="row">

  <!-- Card Total em Compras -->


  <!-- Card total Cashback -->
  <div class="col-xl-6 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-primary font-weight-bold text-light">Cashback Acumulado (API)</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-primary" *ngIf="cashback">{{ cashback.credit | currency:'R$':'code' }} </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-secondary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card cadastros aprovados -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-success font-weight-bold text-light">Cadastros Aprovados</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-success">46</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card cadastros reprovados -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-danger font-weight-bold text-light">Cadastros Reprovados</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-danger">23</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-danger"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<hr>

<div class="my-4 p-4 bg-white rounded shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0 text-primary">Últimas Compras cadastradas</h6>

  <p class="mt-3" *ngIf="compras.length === 0">Nenhuma compra cadastrada.</p>

  <div class="media text-muted pt-3" *ngFor="let compra of compras">
    <div class="media-body">
      <h6>Código da compra: {{ compra.codigo }}</h6>
      <p class="pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong>Valor:</strong> {{ compra.valor | currency:'R$':'code' }} | <strong>Data:</strong> {{ compra.data | date:'shortDate' }}
      </p>
    </div>
    <span class="badge" [ngClass]="{ 'badge-danger': compra.status === 'Reprovado', 'badge-warning': compra.status === 'Em Validação', 'badge-success': compra.status === 'Aprovado'}">{{ compra.status }}</span>
  </div>

  <div class="d-block text-right mt-3">
    <a href="javascript:void(0)" [routerLink]="['/dashboard/lista-compras']" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow"><i class="fas fa-list fa-sm text-white-50"></i> Ver todas as compras</a>
  </div>
</div>
