<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-primary">Dashboard</h1>
  <a href="javascript:void(0)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow"><i class="fas fa-download fa-sm text-white-50"></i> Gerar relatório</a>
</div>

<hr>

<div class="row">

  <!-- Card Total em Compras -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-primary font-weight-bold text-light">Total em Compras</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-primary">R$ 25.000 <div class="h6 text-xs text-primary font-weight-normal d-inline">(Mensal)</div></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-secondary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card total Cashback -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-primary font-weight-bold text-light">Total Cashback</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-primary">R$ 750 <div class="h6 text-xs text-primary font-weight-normal d-inline">(Mensal)</div></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-secondary"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card cadastros aprovados -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-success font-weight-bold text-light">Cadastros Aprovados</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-success">46</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-success"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Card cadastros reprovados -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card shadow h-100">
      <div class="card-header bg-danger font-weight-bold text-light">Cadastros Reprovados</div>
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="h5 mb-0 font-weight-bold text-danger">23</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-danger"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<hr>

<div class="my-4 p-4 bg-white rounded shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0 text-primary">Últimas Compras cadastradas</h6>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
      <strong class="d-block text-gray-dark">@username</strong>
      Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
  </div>
  <div class="d-block text-right mt-3">
    <a href="javascript:void(0)" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow"><i class="fas fa-list fa-sm text-white-50"></i> Ver todas as compras</a>
  </div>
</div>
