<div class="navbar navbar-expand navbar-dark sticky-top bg-dark flex-md-nowrap shadow-sm p-0">

  <a class="navbar-brand ml-3" href="#">
    <img src="../../../assets/images/logo-white.png" width="120" class="d-inline-block align-top">
    <span class="h6 ml-2 text-light font-weight-light">|
      <small>Painel do Revendedor</small>
    </span>
  </a>
  <!-- ll -->

  <div class="navbar-nav ml-auto">
    <div class="dropdown" ngbDropdown>
      <a class="nav-link dropdown-toggle" href="javascript:void(0)" role="button" ngbDropdownToggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img class="img-profile rounded-circle mr-2" width="32" src="../../../assets/images/avatar.jpeg">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small">João Firmino</span>
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" ngbDropdownMenu>
        <a class="dropdown-item text-primary" routerLink="/dashboard/perfil">
          <i class="fas fa-user fa-sm fa-fw mr-2"></i>
          Perfil
        </a>

        <div class="dropdown-divider"></div>

        <a class="dropdown-item text-primary" routerLink="/">
          <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
          Sair
        </a>
      </div>
    </div>
  </div>


</div>
