<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-primary">Lista de Compras</h1>
  <div class="card d-none d-sm-inline-block bg-primary" *ngIf="cashback">
    <div class="card-body p-2">
      <span class="text-light"><strong>Cashback Acumulado:</strong> {{ cashback.credit | currency:'R$':'code' }}</span>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-12 card bg-secondary" *ngIf="compras.length === 0">
    <div class="card-body">
      <p class="mb-0 text-light">Nenhuma compra cadastrada.</p>
    </div>
  </div>

  <div class="col-xl-4 col-md-6 mb-4" *ngFor="let compra of compras">

    <div class="card shadow h-100">
      <div class="card-header bg-primary font-weight-bold text-light">
        Código da compra: {{ compra.codigo }} <span class="badge" [ngClass]="{ 'badge-danger': compra.status === 'Reprovado', 'badge-warning': compra.status === 'Em Validação', 'badge-success': compra.status === 'Aprovado'}">{{ compra.status }}</span>
      </div>
      <div class="card-body">

        <ul class="list-unstyled">
          <li><strong class="text-primary">Valor da compra:</strong> {{ compra.valor | currency:'R$':'code' }}</li>
          <li><strong class="text-primary">Data:</strong> {{ compra.data | date:'shortDate' }}</li>
          <li><strong class="text-primary">% de Cashback:</strong> {{ compra.porcb }}</li>
          <li><strong class="text-primary">Valor do cashback:</strong> {{ compra.valor * compra.porcb / 100 | currency:'R$':'code' }}</li>
        </ul>

        <div *ngIf="compra.status === 'Em Validação'">
          <hr>

          <a href="javascript:void(0)" class="card-link">
            <i class="fas fa-fw fa-edit"></i>
            Editar
          </a>
          <a href="javascript:void(0)" (click)="deletarCompra(compra)" class="card-link text-danger">
            <i class="fas fa-fw fa-trash"></i>
            Excluir
          </a>
        </div>
      </div>
    </div>

  </div>
</div>


