<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-primary">Sobre o Sistema</h1>
</div>

<hr>

<div class="row">
  <div class="col-auto d-none d-lg-block">
    <img src="../../../../assets/images/joao_firmino.jpg" class="img-thumbnail">
  </div>

  <div class="col p-4 d-flex flex-column position-static">
    <h3 class="mb-0 text-primary">João Firmino</h3>
    <div class="mb-2 text-muted font-weight-bold">FronEnd Engineer</div>

    <p class="card-text mb-2">Web developer for over 10 years, in this time has worked in web agencies and technology companies, which developed several interface solutions for web systems and websites.</p>

    <ul>
      <li><strong>Email:</strong> firminoata@gmail.com</li>
      <li><strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/firminoweb/" target="_blank">https://www.linkedin.com/in/firminoweb</a></li>
      <li><strong>Github: </strong> <a href="https://github.com/firminoweb" target="_blank">https://github.com/firminoweb</a></li>
      <li><strong>Github 2: </strong> <a href="https://github.com/ionictheme" target="_blank">https://github.com/ionictheme</a></li>
    </ul>
  </div>
</div>
